.calendarHeader {
    display: flex;
    gap: 20px;
    margin-bottom: 30px;
    h2 {
        color: $Neutral500;
    }
    button {
        background: none;
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 10px;
    background-color: $Beige400;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.08);
  }
  
  .day {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .circle {
    width: 37px;
    height: 37px;
    background-color: $Neutral200; // default background
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
  }
  
  .hasEntry .circle {
    // background-color: transparent; // when there's an emoji, don't show gray
  }
  
  .dayNumber {
    font-size: 11px;
    margin-top: 4px;
    color: $Neutral400;
  }